[submodule "backend"]
	path = backend
	url = git@gitlab.au.dk:data-visualization-group-13/backend.git
	branch = .
	update = rebase

[submodule "frontend"]
	path = frontend
	url = git@gitlab.au.dk:data-visualization-group-13/frontend.git
	branch = .
	update = rebase
